/* ==================== common css start ================================ */
* {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn-primary {
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 35px 19px 36px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
}

/* ==================== common css end ================================ */
/* ==================== nav css start =========================== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 50px;
}

.nav-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-title span {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 51px;
}

nav ul li a {
    color: #474747;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ==================== nav css end =========================== */
/* ==================== header css start ======================= */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    justify-content: space-between;
}

.banner .profile-picture {
    width: 584px;
}

.banner .text h3 {
    color: #474747;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.banner .text h2 {
    color: #181818;
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.banner .text p {
    color: #757575;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 585px;
    margin-bottom: 30px;
}

.banner .text .btn {
    display: flex;
    column-gap: 30px;
}
.banner .text .btn i{
    margin-right: 10px;
}
.banner .text .btn .Contact {
    color: #FD6E0A;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 19px 18px 23px 24px;
    border: 1px solid #FD6E0A;
    background-color: #FFF;
    border-radius: 5px;
}

/* ==================== header css end  ======================= */
/* ==================== main css start ======================= */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* ==================== about part css start ======================= */
main .about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px;
    margin: 130px 0;
}

main .about h3 {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

main .about p {
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

main .about .about-info-container {
    display: flex;
    justify-content: space-around;
}

main .about .about-info-container .about-info {
    text-align: center;
}

main .about .about-info-container .about-info h4 {
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

main .about .about-info-container .about-info p {
    color: #474747;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

/* ==================== about part css end ======================= */
/* ====================what I do part css start ======================= */
#what-I-do {
    padding-bottom: 130px;
}

#what-I-do h3 {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#what-I-do .paragraph {
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 150px;
}

#what-I-do .project-container {
    display: flex;
    column-gap: 24px;
}

#what-I-do .project-container .text-one {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 33px;
}

#what-I-do .project-container .text-one h4 {
    color: #181818;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}

#what-I-do .project-container .text-one p {
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
}

/* ====================what I do part css end ======================= */
/* ====================resume part css start ======================= */
#resume-part {
    padding-bottom: 113px;
}

#resume-part h3 {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 113px;
}

#resume-part .resume-container {
    display: flex;
    column-gap: 71px;
}

#resume-part .resume-container .education-part h2 {
    color: #474747;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
}

#resume-part .resume-container .education-part h5 {
    color: #474747;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
}

#resume-part .resume-container .education-part h6 {
    color: #757575;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 20px;
}

#resume-part .resume-container .education-part p {
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

#resume-part .resume-container .education-part hr {
    margin: 30px 0;
    color: #D1D1D1;
}
#resume-part i{
    margin-right: 10px;
}
#resume-part .download-cv {
    margin-top: 30px;
    text-align: center;
}

/* ====================resume part css start ======================= */
/* ====================== main css end ========================== */
/* ====================== footer css start ========================== */
footer .main {
    display: flex;
    column-gap: 117px;
    background-color: #FFF8F3;
    padding: 130px 230px;
}

footer .main .connect-part {
    width: 50%;
}

footer .main .connect-part h3 {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

footer .main .connect-part p {
    color: #474747;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 562px;
    padding-bottom: 30px;
}

footer .main .form {
    width: 50%;
}

footer .main .form h3 {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 28px;
}

footer .main .connect-part .icon {
    display: flex;
    column-gap: 24px;
}

footer .main .form .contact-form input,
textarea {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

footer .main .form .contact-form input {
    padding: 18px 0 18px 30px;
    width: 461px;
    border-radius: 5px;
    background:  #FFF;
    border: 0;
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
footer .main .form .contact-form textarea{
    width: 461px;
    height: 180px;
    padding: 18px 0 0 30px;
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    border: 0;
}
footer .main .form .contact-form .btn-primary{
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 39px 19px 39px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    width: 150px;
}
/* ====================== footer css end ========================== */